fontColor = black
primaryColor = gray

*, *:before, *:after 
  list-style: none

// body

nav 
  font-size: 20px
  background-color: primaryColor

header 
  margin-top: 10vh 
  text-align: center
  border: black 1px solid 
a
  color: white
  text-decoration: none

section 
  padding-top: 10vh
  
  & .container
    height: 70vh
    border: black 1px solid
    border-radius: 10px
